body {
    .detail1,
    .detail2,
    .detail3,
    .detail4,
    .detail5,
    .detail6,
    .detail7 {
        display: none;
    }
}

.btn-dark-mode {
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: var(--text-color);
    cursor: pointer;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover:not(:active) {
        height: 42px;
        width: 42px;
        bottom: 7px;
        left: 7px;
    }

    i {
        color: var(--bg-color);
        font-size: 1rem;
    }
}


.slider-cntr {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--component-bg-color);
    top: 50%;
    height: 60px;
    left: -35vh;
    width: 70vh;
    transform: translate(25px, -50%) rotate(-90deg);
    border-radius: 0 0 25px 25px;
    padding: 0 25px;

    input {
        width: 60vh;
        height: 10px;
        display: flex;
    }
}